@import "./colors.scss";

$header-height: 4em;

.ieo-app-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  width: 100%;
  // max-height: $header-height;
  color: $text-color-light;

  box-shadow: 0px -2px 4px #8f8f8f;

  background-color: $secondary-color;

  & .ieo-app-header-left {
    display: flex;
    flex: 1;

    padding: 1em;

    & a {
      & img {
        display: flex;
        flex-basis: 0;
        max-height: Min($header-height, 48pt);
      }
    }
  }

  & .ieo-app-header-center {
    display: flex;
    flex: 10;
    padding: 0 1em;

    letter-spacing: 0.1em;
    word-spacing: 1em;

    text-transform: uppercase;

    justify-content: center;
  }

  & .ieo-app-header-right {
    display: flex;
    flex: 1;
    padding: 1rem;
  }
}
